<nav id="top-navbar" >
        <div id="mCSB_2" class="mCustomScrollBox mCS-dark mCSB_horizontal mCSB_inside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;"
             dir="ltr">
                <ul>
                    <li class="bg-menu ismenu">
                        <span >Abrir Menu</span>
                    </li>
                </ul>
            </div>
        
        </div>
    </nav> 
    <nav id="nav-projeto" >
        <div id="mCSB_1" class="scroll"
         style="max-height: none;" tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="projeto-label ">
                    <a href="#" title="Documentação Introdução ao CSS na Prática">
                        Documentação Introdução ao CSS na Prática
                    </a>
                    <div class="fechar-nav"><i class="fa fa-close"></i></div>
                </div>
                <ul class="nav-itens" style="height: 427px;">
                    
                    <li class="nav-item item-pai ">
                        <span>
                            Introdução
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item " ng-class="{'active': $location.path() == '/variaveis'}">
                                <a Class="marcacao" href="#!/" data-id="688" data-ordem="5" data-projeto="80">
                                    Conhecendo o CSS {{main.pagina}}
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-sintaxe" data-id="690" data-ordem="7" data-projeto="80">
                                    Sintaxe
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-seletores" data-id="737" data-ordem="8" data-projeto="80">
                                    Seletores
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-grupos-de-seletores-e-combinadores" data-id="744" data-ordem="9" data-projeto="80">
                                    Grupos de seletores e combinadores
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/um-cascata" data-id="739" data-ordem="10" data-projeto="80">
                                    Cascata
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                            Texto
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/dois-introducao" data-id="775" data-ordem="17" data-projeto="80">
                                    Introdução
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-color" data-id="773" data-ordem="18" data-projeto="80">
                                    Color
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-font" data-id="776" data-ordem="19" data-projeto="80">
                                    Font
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-transformacoes-e-decoracoes" data-id="774" data-ordem="20" data-projeto="80">
                                    Transformações e decorações
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-sombras" data-id="774" data-ordem="20" data-projeto="80">
                                    Sombras
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-alinhamento" data-id="774" data-ordem="20" data-projeto="80">
                                    Alinhamento
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-altura-de-linha" data-id="774" data-ordem="20" data-projeto="80">
                                    Altura de linha e espaçamento
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/dois-span" data-id="774" data-ordem="20" data-projeto="80">
                                    Span
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                                Box model
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/tres-introducao" data-id="728" data-ordem="24" data-projeto="80">
                                    Introdução
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/tres-width-e-height" data-id="694" data-ordem="25" data-projeto="80">
                                    Width e height
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/tres-padding" data-id="694" data-ordem="25" data-projeto="80">
                                    Padding
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/tres-margin" data-id="694" data-ordem="25" data-projeto="80">
                                    Margin
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/tres-border" data-id="694" data-ordem="25" data-projeto="80">
                                    Border
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                                Background 
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/quartro-cor" data-id="693" data-ordem="27" data-projeto="80">
                                    Cor
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/quatro-imagem" data-id="686" data-ordem="28" data-projeto="80">
                                    Imagem
                                </a>
                            </li>

                            <li class="nav-sub-item ">
                                <a href="#!/quatro-size" data-id="686" data-ordem="28" data-projeto="80">
                                    Size
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/quatro-attachment" data-id="686" data-ordem="28" data-projeto="80">
                                    Attachment
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item item-pai ">
                        <span>
                            Unidades 
                        </span>
                        <ul class="nav-sub-itens">
                            <li class="nav-sub-item ">
                                <a href="#!/cinco-valores" data-id="740" data-ordem="30" data-projeto="80">
                                    Valores
                                </a>
                            </li>
                            <li class="nav-sub-item ">
                                <a href="#!/cinco-flexbox" data-id="692" data-ordem="31" data-projeto="80">
                                    Flexbox
                                </a>
                            </li>                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>