<h2 class="item-titulo titulo_desc_move">
    Altura de linha e espaçamento
</h2>
<div class="content-area">

<p>Podemos controlar a altura da linha de um texto com a propriedade <span class='lf-badge'>line-height</span>. Geralmente utilizamos a unidade <span class='lf-badge'>em</span> como valor para essa propriedade para que a distância entre as linhas do texto acompanhe o tamanho da fonte. Abaixo podemos ver um exemplo:</p>

<pre><code class="css">p { font-size: 14px; line-height: 1.6em; }</code></pre>

<p>No exemplo acima, a fonte terá 14px de altura e a linha será 1.6 vezes esse valor.</p>

<p>Uma das razões para a utilização do <span class='lf-badge'>line-height</span> é facilitar ao usuário acompanhar as linhas em um texto conforme ele lê. Por exemplo, se o espaçamento entre as linhas for maior, será mais fácil que o leitor volte para a mesma linha ao chegar no final da mesma por engano.</p>

<p>Podemos ainda modificar a aparência de um texto com as propriedades <span class='lf-badge'>letter-spacing</span> e <span class='lf-badge'>word-spacing</span>, que permitem controlar o espaço entre as letras e palavras de um texto. Abaixo temos um exemplo de como utilizá-las:</p>

<pre><code class="css">p { letter-spacing: 2px; word-spacing: 4px; }</code></pre>

<p>Essas propriedades podem ser úteis também para facilitar a legibilidade de uma fonte muito densa, o que pode fazer com que as letras fiquem muito próximas umas das outras.</p>


</div>