<h2 class="item-titulo titulo_desc_move">
    Introdução	
</h2>
<div class="content-area">

<p>Apesar de vivermos na era da comunicação em vídeo, o texto ainda é a forma mais básica e direta de comunicação em web sites. Nesta seção da documentação de CSS veremos como utilizar negritos, itálicos e sublinhados, alterar a fonte e aplicar efeitos sobre elementos de text. Você aprenderá também a definir o espaçamento entre as linhas e letras.</p>

<p>Ao longo desta seção usaremos diversas as propriedades que são apresentadas na prática no curso Introdução ao CSS na prática.</p>

</div>