<h2 class="item-titulo titulo_desc_move">
    Color
</h2>
<div class="content-area">

<p>A propriedade <span class='lf-badge'>color</span> altera a cor de primeiro plano de um texto, também chamada em algumas literaturas de foreground. Ao utilizar essa propriedade, todo o texto do elemento será alterado, assim como decorações que ele contenha, por exemplo sublinhados: </p>

<pre><code class="css">p { color: blue; }</code></pre>

<p>No caso acima, todos os parágrafos na página terão a sua cor alterada para azul.</p>

</div>