<h2 class="item-titulo titulo_desc_move">
    Alinhamento
</h2>
<div class="content-area">

<p>A propriedade <span class='lf-badge'>text-align</span> permite controlar como o texto será alinhado dentro do elemento que o contém. Abaixo temos um exemplo de como utilizá-lo:</p>

<pre><code class="css">p { text-align: center; }</code></pre>

<p>No exemplo acima, o parágrafo será alinhado no centro do elemento no qual estiver contido.</p>

<p>Outros valores que podem ser utilizados para essa propriedade são:</p>

<ul><li><span class='lf-strong'>left</span>: justifica o texto a esquerda;</li><li>
<span class='lf-strong'>right</span>:  justifica o texto a direita;</li><li>
<span class='lf-strong'>justify</span>: ajusta o espaço entre as palavras para que o texto ocupe todo o espaço disponível em uma linha.</li></ul>

</div>