<h2 class="item-titulo titulo_desc_move">
    Transformações e decorações
</h2>
<div class="content-area">

<p>Com o CSS também podemos aplicar transformações ao texto utilizando para isso a propriedade <span class='lf-badge'>text-transform</span>. No trecho de código abaixo deixamos a primeira letra de cada palavra em maiúscula atribuindo a essa propriedade o valor capitalize:</p>

<pre><code class="css">p { text-transform: capitalize; }</code></pre>

<p>Levando em consideração um parágrafo com o texto “Texto do parágrafo”, o resultado do estilo acima aplicado será “Texto Do Parágrafo”.</p>

<p>Outros valores utilizados com frequência para essa propriedade são listados a seguir:</p>

<ul><li><span class='lf-strong'>none</span>: remove todas as transformações, o que é útil para anular algum estilo anteriormente aplicado pelo navegador;</li><li>
<span class='lf-strong'>uppercase</span>: deixa todas as letras em maiúscula;</li><li>
<span class='lf-strong'>lowercase</span>: deixa todas as letras em minúscula.</li></ul>

<p>Outra propriedade muito utilizada para decorações é a <span class='lf-badge'>text-decoration</span>. Com ela podemos, por exemplo, remover o sublinhado de links, como pode ser visto abaixo:</p>

<pre><code class="css">a { text-decoration: none;  }</code></pre>
<p>Além do valor none, que remove qualquer transformação aplicada anteriormente, também podemos utilizar os seguintes:</p>

<ul><li><span class='lf-strong'>underline</span>: aplica uma linha abaixo do texto;</li><li>
<span class='lf-strong'>overline</span>: aplica uma linha sobre o texto;</li><li>
<span class='lf-strong'>line-through</span>: risca o texto.</li></ul>

</div>