<h2 class="item-titulo titulo_desc_move">
    Sombras
</h2>
<div class="content-area">

<p>Nos dias atuais é muito comum aplicarmos efeitos de sombra ao texto. Quando utilizadas corretamente, as sombras facilitam a leitura e destacam o texto de imagens ou qualquer outro elemento que seja utilizado como fundo.</p>

<p>A propriedade utilizada para esse fim é a <span class='lf-badge'>text-shadow</span>, que recebe quatro valores, conforme descrito abaixo:</p>

<pre><code class="css">p { text-shadow: 2px 4px 5px #eee; }</code></pre>

<p>No exemplo acima, o primeiro valor corresponde a distância horizontal da sombra em relação ao texto no parágrafo e o segundo valor determina o deslocamento vertical. O terceiro valor indica o quanto desejamos que a sombra seja borrada, perdendo assim a sua solidez. Por último, definimos a cor da sombra, nesse caso cinza.</p>

<p>Também é possível aplicar múltiplas sombras ao texto com essa propriedade como visto abaixo:</p>

<pre><code class="css">p { text-shadow: 2px 4px 5px #eee, 
0 0 1px red; }</code></pre>

<p>Note que apenas o último valor, separado do anterior por uma vírgula, recebe um ponto e vírgula no final.</p>


</div>