<h2 class="item-titulo titulo_desc_move">
    Cor
</h2>
<div class="content-area">


<p>Um plano de fundo, ou <span class='lf-badge'>background</span>, é a área posicionada sob o conteúdo, preenchimento e borda de um elemento. Com a propriedade background podemos preencher essa área. No exemplo abaixo, utilizamos a propriedade background-color para atribuir a cor amarela ao fundo do texto:</p>

<pre><code class="css">div { background-color: yellow; }</code></pre>

<p>Existem diversas propriedades para controlar o plano de fundo de um elemento, que conheceremos nesta seção. Para ver cada uma delas ser aplicada na prática assista ao curso Introdução ao CSS na Prática.</p>


</div>