<h2 class="item-titulo titulo_desc_move">
    Attachment
</h2>
<div class="content-area">

<p>A propriedade <span class='lf-badge'>background-attachment</span> permite controlar como uma imagem se comporta em relação a barra de rolagem da página ou do elemento no qual ela está contida. </p>

<p>Por exemplo, é possível fazer com que a imagem não acompanhe a rolagem da página, mantendo-se estática em relação ao seu conteúdo:</p>

<pre><code class="css">div { background-attachment: fixed; }</code></pre>

<p>Outro valor utilizado é local. Considerando que o elemento que contém a imagem possui uma barra de rolagem, a imagem acompanhará essa barra, ignorando a rolagem da página:</p>

<pre><code class="css">div { background-attachment: local; }</code></pre>

<p>Essa propriedade funciona apenas em conjunto com <span class='lf-badge'>background-image</span>, ou seja, quando atribuímos uma imagem ao elemento.</p>

</div>