<h2 class="item-titulo titulo_desc_move">
    Margin
</h2>
<div class="content-area">

<p>A propriedade <span class='lf-badge'>margin</span> controla a área de margem de um elemento, que influencia no espaçamento entre esse e os demais elementos ao seu redor. Ela pode receber como valor uma lista de dimensões, como no exemplo abaixo:</p>

<pre><code class="css">div { margin: 16px 10px 20px 30px; }</code></pre>

<p>Neste caso, 16 pixels corresponde a área superior, top, 10 pixels a direita, 20 a área inferior e 30 a esquerda, sendo a distribuição feita como os ponteiros de um relógio.</p>

<p>Podemos ainda escrever esses valores de forma curta, sendo isso útil em alguns casos nos quais desejamos atribuir o mesmo valor para a parte superior e inferior de uma elemento, tal qual para sua área de margem esquerda e direita:</p>

<pre><code class="css">div { margin: 16px 10px; }</code></pre>

<p>No exemplo acima, o elemento terá uma distância de 32 pixels (16 + 16) daqueles acima e abaixo dele, enquanto os lados da área de margem criarão uma distância de 20 pixels.</p>

<p>Existem outras formas de escrever os valores dessa propriedade, por exemplo utilizando três valores:</p>

<pre><code class="css">div { margin: 16px 10px 20px; }</code></pre>

<p>Assim, definimos os valores para as áreas superior, esquerda e direita ao mesmo tempo, e inferior. Contudo, alguns navegadores podem ter dificuldades em ler essas sintaxe e, portanto, devemos evitá-la.</p>

</div>