<h2 class="item-titulo titulo_desc_move">
    Introdução
</h2>
<div class="content-area">

<p>O motor de renderização do navegador representa cada elemento como uma caixa retangular, de acordo com o padrão definido pelo CSS conhecido como box (caixa) model. Dessa forma, o conteúdo do elemento é uma das quatro partes que compõem o box, sendo as demais o seu preenchimento, borda e margem. A <span class='lf-strong'>Figura 1</span> nos dá uma visão desse desenho.</p>

<figure><img src="https://arquivo.devmedia.com.br/cursos/CSS_2213/img/boxmodel.png" alt="Representação do Box model"><figcaption><b>Figura 1</b>. Representação do Box model</figcaption></figure>

<p>Na maioria dos casos, o que vemos é apenas o conteúdo do elemento, geralmente um texto, imagem, vídeo, etc. Esse conteúdo é o que consideramos as suas dimensões, altura e largura. Entretanto, é o conteúdo somado a margem, borda e preenchimento do elemento que determinam o espaço que o mesmo ocupa na tela do navegador. Por essa razão entender o box model é fundamental para a criação de layouts consistentes. </p>

<p>Esta seção trata do controle das áreas que compõem um box: <span class='lf-badge'>margin</span>, <span class='lf-badge'>padding</span>, <span class='lf-badge'>width</span> e <span class='lf-badge'>height</span>. Para ver essas propriedades serem aplicadas na prática assista ao curso Introdução ao CSS na Prática.</p>

</div>