<h2 class="item-titulo titulo_desc_move">
    Border
</h2>
<div class="content-area">

<p>A propriedade <span class='lf-badge'>border</span> define o estilo da borda de um elemento. Ela pode receber uma lista de valores de diferentes tipos, como apresentamos a seguir:</p>

<pre><code class="css">div { border: 1px solid #eee; }</code></pre>

<p>No exemplo acima, o primeiro valor define a largura da borda, que neste caso será de 1 pixel. O segundo valor informa o estilo da borda. Por fim podemos atribuir a borda uma cor.</p>

<p>Para determinar a largura da borda podemos utilizar a propriedade <span class='lf-badge'>border-width</span>. Ao utilizar essa propriedade, podemos definir individualmente as bordas superior, esquerda, inferior e direita de um elemento:</p>

<pre><code class="css">div { border-width: 1px 2px 1px 2px; }</code></pre>

<p>Neste caso, atribuímos 1 pixel para a parte superior/inferior e 2 pixels para a borda esquerda/direita do elemento. </p>

<p>Podemos ainda utilizar palavras chave para definir o valor dessa propriedade, sendo elas <span class='lf-badge'>thin</span>, <span class='lf-badge'>medium</span> e <span class='lf-badge'>thick</span>.</p>

<pre><code class="css">div { border-width: thin; }</code></pre>

<p>No exemplo acima, o elemento terá uma borda fina aplicada.</p>

<p>Essa propriedade pode receber ainda o valor <span class='lf-badge'>unset</span>, que cancela os valores anteriormente aplicados.</p>

<p>Com a propriedade <span class='lf-badge'>border-style</span> determinamos como a borda do elemento será apresentada. Ela pode ser sólida com o valor <span class='lf-badge'>solid</span>, pontilhada com o valor <span class='lf-badge'>dotted</span> ou mesmo dupla, se aplicado o valor <span class='lf-badge'>dashed</span>.</p>

<pre><code class="css">div { border-style: dotted solid; }</code></pre>

<p>Nesse exemplo, o elemento receberá uma borda superior/inferior pontilhada e esquerda/direita sólida.</p>

<p>Podemos ainda utilizar o valor <span class='lf-badge'>none</span>, que cancela qualquer outro anteriormente aplicado.</p>

</div>