<h2 class="item-titulo titulo_desc_move">
    Conhecendo o CSS
</h2>
<div class="content-area">
<p>É com o CSS que podemos definir como um documento HTML será apresentado para o usuário. Esta linguagem possui uma sintaxe simples na qual utilizamos pares de propriedade e valor são utilizados para modificar os aspectos visuais de cada elemento em uma página:</p>

<pre><code class="css">p { color: blue; }</code></pre>

<p>Esse trecho de código que temos acima é uma regra que atribui a cor azul aos elementos <span class="lf-badge">&lt;p&gt;</span> em uma página. </p>

<p>Assim como color, existem diversas propriedades no CSS, cada uma responsável por alterar uma característica específica do elemento ao qual a regra será atribuída. Cada uma dessas propriedades possui seu próprio conjunto de valores, o que torna o CSS uma linguagem rica, mas ainda assim fácil de usar.</p>

<p>Na próxima página desta documentação olharemos o código CSS em detalhes, enquanto conhecemos a sintaxe, ou a forma de escrever código com essa linguagem. Para ver os conhecimentos reunidos aqui serem aplicados na prática, assista ao curso Introdução ao CSS na prática. 
</p>

</div>