<h2 class="item-titulo titulo_desc_move">
    Sintaxe
</h2>
<div class="content-area">

<p>Uma regra CSS é composta por um selector, nesse caso o nome do elemento, e uma declaração. A <span class='lf-strong'>Figura 1</span> ilustra essa estrutura.</p>
<figure><img src="https://arquivo.devmedia.com.br/cursos/CSS_2213/img/seletor_1.png" alt="Seletor e declaração em uma regra"><figcaption><span class='lf-strong'>Figura 1</span>. Seletor e declaração em uma regra</figcaption></figure>

<p>No exemplo acima, <span class='lf-badge'>color</span> a propriedade através da qual indicamos que desejamos alterar a cor do texto do elemento <span class='lf-badge'>p</span>. Essa cor, por sua vez, é atribuída com o valor <span class='lf-badge'>blue</span>. Abaixo, na <span class='lf-strong'>Figura 2</span>, destacamos as partes que compõem uma declaração.</p>


<figure><img src="https://arquivo.devmedia.com.br/cursos/CSS_2213/img/propriedade_2.png" alt="Propriedade e valor na declaração de uma regra"><figcaption><span class='lf-strong'>Figura 2</span>. Propriedade e valor na declaração de uma regra</figcaption></figure>

<p>Observe na <span class='lf-strong'>Figura 3</span> que a declaração de uma regra deve ser inserida num bloco, entre chaves, e que cada par de propriedade/valor deve ser separado por um ponto e vírgula. Para atribuir um valor a uma propriedade usamos dois pontos.</p>


<figure><img src="https://arquivo.devmedia.com.br/cursos/CSS_2213/img/estrutura_3.png" alt="Estrutura do bloco de declaração"><figcaption><span class='lf-strong'>Figura 3</span>. Estrutura do bloco de declaração</figcaption></figure>


</div>